name: Publish AUR Package

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      deb_hash_x86_64:
        description: "SHA512 hash of the .deb file for x86_64 architecture"
        required: true
      deb_hash_aarch64:
        description: "SHA512 hash of the .deb file for aarch64 architecture"
        required: true
      version:
        description: "Version to publish"
        required: true
  workflow_call:
    inputs:
      version:
        description: "Version to publish"
        required: true
        type: string
    secrets:
      AUR_SSH_PRIVATE_KEY:
        description: "SSH private key for AUR"
        required: true

jobs:
  publish_aur_package:
    name: Publish AUR package
    outputs:
      version: ${{ steps.gen_template.outputs.version }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Download linux x86 artifacts
        if: ${{ inputs.deb_hash_x86_64 == '' }}
        uses: actions/download-artifact@v4
        with:
          pattern: "SJMCL_${{ inputs.version }}_linux_x86_64"
          path: artifacts
          merge-multiple: true
      
      - name: Download linux aarch64 artifacts
        if: ${{ inputs.deb_hash_aarch64 == '' }}
        uses: actions/download-artifact@v4
        with:
          pattern: "SJMCL_${{ inputs.version }}_linux_aarch64"
          path: artifacts
          merge-multiple: true

      - name: Calculate hashes
        id: calculate_hashes
        run: |
          X86_64_DEB_HASH=${{ inputs.deb_hash_x86_64 }} # Use input deb_hash if provided
          AARCH64_DEB_HASH=${{ inputs.deb_hash_aarch64 }} # Use input deb_hash if provided
          if [[ -z "$X86_64_DEB_HASH" || -z "$AARCH64_DEB_HASH" ]]; then
            ls -la artifacts
            if [[ -z "$X86_64_DEB_HASH" ]]; then
              X86_64_DEB_HASH=$(sha512sum artifacts/SJMCL_${{ inputs.version }}_linux_x86_64.deb)
            fi
            if [[ -z "$AARCH64_DEB_HASH" ]]; then
              AARCH64_DEB_HASH=$(sha512sum artifacts/SJMCL_${{ inputs.version }}_linux_aarch64.deb)
            fi
          fi
          echo "X86_64_DEB_HASH=$X86_64_DEB_HASH"
          echo "AARCH64_DEB_HASH=$AARCH64_DEB_HASH"
          LICENSE_HASH=$(sha512sum LICENSE.EXTRA)
          echo "LICENSE_HASH=$LICENSE_HASH"
          echo "X86_64_DEB_HASH=$X86_64_DEB_HASH" >> $GITHUB_ENV
          echo "deb_hash_x86_64=$X86_64_DEB_HASH" >> $GITHUB_OUTPUT
          echo "AARCH64_DEB_HASH=$AARCH64_DEB_HASH" >> $GITHUB_ENV
          echo "deb_hash_aarch64=$AARCH64_DEB_HASH" >> $GITHUB_OUTPUT
          echo "LICENSE_HASH=$LICENSE_HASH" >> $GITHUB_ENV
          echo "license_hash=$LICENSE_HASH" >> $GITHUB_OUTPUT

      - name: Generate PKGBUILD
        id: gen_template
        env:
          VERSION: ${{ inputs.version }}
        run: |
          sed -i "s/^pkgver=.*/pkgver=${VERSION//-/}/" PKGBUILD
          awk -v license_hash="${LICENSE_HASH%% *}" \
              -v x86_64_hash="${X86_64_DEB_HASH%% *}" \
              -v aarch64_hash="${AARCH64_DEB_HASH%% *}" '
            BEGIN {
              sums["sha512sums"] = license_hash
              sums["sha512sums_x86_64"] = x86_64_hash
              sums["sha512sums_aarch64"] = aarch64_hash
              
              processed["sha512sums"] = 0
              processed["sha512sums_x86_64"] = 0
              processed["sha512sums_aarch64"] = 0
            }
            
            $0 ~ "^[[:blank:]]*[a-z0-9]+sums(_[^=]+)?\\+?=", $0 ~ "\\)[[:blank:]]*(#.*)?$" {
              match($0, /^[[:blank:]]*([a-z0-9_]+)/, m)
              varname = m[1]
              
              if (varname in sums) {
                printf("%s=(\047%s\047)\n", varname, sums[varname])
                processed[varname] = 1
                next
              }
            }
            
            { print }
            
            END {
              for (varname in sums) {
                if (!processed[varname]) {
                  printf("%s=(\047%s\047)\n", varname, sums[varname])
                }
              }
            }
          ' PKGBUILD > PKGBUILD.tmp && mv PKGBUILD.tmp PKGBUILD

          echo "PKGBUILD generated with version ${VERSION//-/}"
          cat PKGBUILD

      - name: Publish SJMCL to the AUR
        uses: KSXGitHub/github-actions-deploy-aur@v4.1.1
        with:
          pkgname: sjmcl-bin
          pkgbuild: ${{ github.workspace }}/PKGBUILD
          assets: ${{ github.workspace }}/LICENSE.EXTRA
          commit_username: SJMC
          commit_email: launcher@sjmc.club
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: ${{ inputs.version }}
          ssh_keyscan_types: rsa,ecdsa,ed25519
